<!-- Structural twig element -->
<div class="site-twig" aria-hidden="true">
  <span>-</span><span>/</span><span>-</span><span>/</span><span>-</span><span>/</span><span>-</span><span>/</span><span>-</span><span>/</span><span>-</span><span>/</span><span>-</span><span>/</span><span>-</span><span>/</span><span>-</span><span>/</span><span>-</span><span>/</span>
</div>

<header class="site-header">
  <div class="site-header__inner">
    <span class="site-header__nav">
      <a href="{{ site.baseurl }}/" class="site-header__link">日记</a>
      <span class="site-header__sep">/</span>
      <a href="{{ site.baseurl }}/about" class="site-header__link">关于</a>
    </span>
  </div>
</header>
