---
layout: default
---

<article class="post">
  <header class="post__header">
    <div class="post__date">
      <span>{{ page.date | date: "%Y" }}</span>
      <span class="post__date-divider">/</span>
      <span>{{ page.date | date: "%m" }}</span>
      <span class="post__date-divider">/</span>
      <span>{{ page.date | date: "%d" }}</span>
    </div>
    <h1 class="post__title">{{ page.title }}</h1>
  </header>

  <div class="post__content">
    {{ content }}
  </div>

  <div class="post__gallery"></div>
</article>
